
*/text/*.aco
*/text/*.ano
*/text/*.atr
*/text/*.cho
*/text/*.dct
*/text/*.dcx
*/text/*.ecl
*/text/*.eno
*/text/*.ere
*/text/*.err
*/text/*.evl
*/text/*.fil
*/text/*.frm
*/text/*.frx
*/text/*.idx
*/text/*.log
*/text/*.miz~
*/text/*.msx
*/text/*.nol
*/text/*.par
*/text/*.prf
*/text/*.ref
*/text/*.sgl
*/text/*.vcl
*/text/*.wsx
*/text/*.xml
